bundler_args: ""
cache: bundler
sudo: false
branches:
  only: [master]
script: "bundle exec rake spec"
gemfile:
  - gemfiles/rails23.gemfile
  - gemfiles/rails32.gemfile
  - gemfiles/rails40.gemfile
  - gemfiles/rails41.gemfile
  - gemfiles/rails42.gemfile
  - gemfiles/rails50.gemfile
matrix:
  exclude:
    - rvm: 2.1.7
      gemfile: gemfiles/rails50.gemfile
rvm:
  - 2.1.7
  - 2.2.3
  - 2.3.1
